[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
pywin32 = { version = "*", markers = "sys_platform == 'win32'" }
rich = "*"
requests = "*"
html2text = "*"
docopt-ng = "*"
art = "*"
pyspellchecker = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
hypothesis = "*"

[requires]
python_version = "3.9"
