[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
pywin32 = { version = "*", markers = "sys_platform == 'win32'" }
rich = "*"
requests = "*"
html2text = "*"
docopt-ng = "*"
art = "*"
pyspellchecker = "*"
pygments = "*"
textstat = "*"
pydantic = "*"
fastapi = { version = "*", optional = true }
uvicorn = { version = "*", optional = true }
icontract = "*"
# typeguard does not seem to get along with pydantic.
# typeguard = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
hypothesis = {extras = ["cli"], version = "*"}
types-requests = "*"

[requires]
python_version = "3.9"
