[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
pywin32 = { version = "*", markers = "sys_platform == 'win32'" }
rich = "*"
requests = "*"
html2text = "*"
docopt-ng = "*"
art = "*"
pyspellchecker = "*"
pygments = "*"
textstat = "*"
pydantic = "*"
fastapi = { version = "*", optional = true }
uvicorn = { version = "*", optional = true }
icontract = "*"
# typeguard does not seem to get along with pydantic.
# typeguard = "*"
linkcheckmd = {ref = "b05bac0c852a5f5c0e92a4836d522210daef6823", git = "https://github.com/matthewdeanmartin/linkchecker-markdown"}
pyttsx3 = "*"
mistune = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
hypothesis = {extras = ["cli"], version = "*"}
types-requests = "*"
pre-commit = "*"
proselint = "*"

[requires]
python_version = "3.11"
