name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.7
    - uses: actions/setup-python@v5.1.1
      with:
        python-version: '3.14'
          # cache: 'pipenv' # caching pipenv dependencies
    - name: Install poetry and pipx
      run: |
        pip install uv && pip install pipx && pipx install uv && make check
